.header {
  background-color: #f070ac;
  color: black;
  align-items: center;
  padding: 1rem;
  display:flex;
  flex-direction:row;
  height: 20px;
}

.logo {
    padding:0px 800px 0px 0px;
}

.nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

.nav a {
  text-decoration: none;
  color: white;
}